absl-py==0.10.0
adal==1.2.4
aiohttp==3.7.2
alembic==1.4.1
apex==0.1
appdirs==1.4.4
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.2.0
audioread==2.1.8
awscli==1.18.157
azure-common==1.1.25
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
backcall==0.2.0
beautifulsoup4==4.9.3
bitmath==1.3.3.1
bleach==3.2.1
bokeh==2.2.3
boto3==1.15.16
botocore==1.18.16
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.6.20
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1600276415718/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1602255309768/work
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
conda==4.8.5
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1600353356226/work
configparser==5.0.1
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1600960155371/work
cycler==0.10.0
databricks-cli==0.12.2
decorator==4.4.2
defusedxml==0.6.0
docker==4.3.1
docutils==0.15.2
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gast==0.3.3
gitdb==4.0.5
GitPython==3.1.9
google-api-core==1.22.4
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-cloud-core==1.4.3
google-cloud-language==1.3.0
google-cloud-storage==1.31.2
google-crc32c==1.0.0
google-pasta==0.2.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
gorilla==0.3.0
graphviz==0.8.4
grpcio==1.32.0
gunicorn==20.0.4
h5py==2.10.0
horovod==0.20.3
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata==2.0.0
inflect==4.1.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyter-server-proxy==1.3.2
jupyter-tensorboard==0.2.0
jupyterlab==2.2.9
jupyterlab-nvdashboard==0.4.0
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
kfserving==0.4.0
kiwisolver==1.2.0
kubernetes==10.0.1
librosa==0.8.0
llvmlite==0.34.0
Mako==1.1.3
Markdown==3.3.1
MarkupSafe==1.1.1
matplotlib==3.3.2
minio==6.0.0
mistune==0.8.4
mlflow==1.7.2
mpi4py==3.0.3
mpmath==1.1.0
multidict==5.0.0
mxnet-cu101mkl==1.6.0.post0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
ninja==1.10.0.post2
nltk==3.5
notebook==6.1.4
npm==0.1.1
numba==0.51.2
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.3.0
optional-django==0.1.0
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pooch==1.2.0
portalocker==2.0.0
prometheus-client==0.8.0
prometheus-flask-exporter==0.18.1
prompt-toolkit==3.0.8
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments==2.7.2
PyJWT==1.7.1
pynvml==8.0.4
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
python-speech-features==0.6
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
querystring-parser==1.2.4
regex==2020.10.11
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.5
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1598972306942/work
s3transfer==0.3.3
sacrebleu==1.4.14
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.4.1
Send2Trash==1.5.0
sentencepiece==0.1.91
simpervisor==0.3
simplejson==3.17.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
smmap==3.0.4
SoundFile==0.10.3.post1
soupsieve==2.0.1
sox==1.4.1
SQLAlchemy==1.3.13
sqlparse==0.4.1
sympy==1.7
table-logger==0.3.6
tabulate==0.8.7
tenacity==6.2.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.7.0
tensorboardX==1.8
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tokenizers==0.9.3
torch==1.6.0+cu101
torchvision==0.7.0+cu101
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1602171507552/work
traitlets==5.0.5
transformers==3.5.1
triton==0.2.3
typer==0.3.2
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.2.1
yarl==1.6.2
zipp==3.3.0
deepspeed==0.3.7
